Screen {
    align: center middle;
}

Grid {
    grid-size: 3 2;
    grid-gutter: 1 5;
}

Horizontal {
    align: center middle;
    height: auto;
    content-align-horizontal: center;
    content-align-vertical: middle;
}

RadioSet {
    width: 45%;
}

Input {
    height: 100%;
}

.hidden {
    display: none;
}

/*Label {*/
/*    width: 100%;*/
/*    height: 1fr;*/
/*    padding: 1;*/
/*    color: white;*/
/*}*/